@import "taro-ui/dist/style/components/button.scss";
@import "taro-ui/dist/style/components/input.scss";
@import "taro-ui/dist/style/components/icon.scss";
@import "taro-ui/dist/style/components/divider.scss";
@import "taro-ui/dist/style/components/list.scss";
@import "taro-ui/dist/style/components/switch.scss";
@import "taro-ui/dist/style/components/message.scss";


.index{
    .todo-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        .operate{
            display:flex;
            align-items: center;
        }
    }
}

.fade-enter {
	transform: translateX(100px);
	opacity: 0;
}
.fade-enter-active{
	transform: translateX(0);
	opacity: 1;
	transition: all 0.5s ease;
}

.fade-exit{
    transform: translateX(0);
    opacity: 1;
}
.fade-exit-active {
	opacity: 0;
	transform: translateX(100px);
	transition: all 0.5s ease;
}

